.formulario-contenedor{
    height: 90vh;
    display: flex;
    
}
.formulario{
    height:100%;
    overflow-y: scroll;

}
.formulario::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px){
    .imagen{
        display: none;
    }
    
}