@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
.nav{
    height: 10vh!important;
    background-color:#e7e40d7e; ;
}
.title{
    font-family: 'Akshar', sans-serif;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}